  <footer class="mt-auto bg-stone-300 border-t border-stone-200 dark:bg-stone-800 dark:border-stone-700">
    <div class="w-full mx-auto max-w-screen-xl p-4 text-center">
      <span class="text-sm text-stone-500 dark:text-stone-400">
        ProjectZ :D
      </span>
    </div>
  </footer>